@import "src/utils/reset";

.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &_currentPage {
      color: #282c34;
  }

  &_prev, &_next {
    width: 100px;
    height: 30px;
    border-radius: 12px;
    transition: 0.8s;
    background: #282c34;
    color: whitesmoke;

    font-size: 16px;
    letter-spacing: 1px;
  }
}
