@import "src/utils/reset";

.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &_currentPage {
      &.light {
        color: var(--color-text-black);
      }

      &.night {
        color: var(--color-text-white);
      }
  }

  &_prev, &_next {
    width: 100px;
    height: 30px;
    border-radius: 12px;
    transition: 0.8s;

    font-size: 16px;
    letter-spacing: 1px;

    &.light {
      background: var(--background-main-dark);
      color: var(--color-text-white);
    }

    &.night {
      background: var(--background-main-bright);
      color: var(--color-text-black);
    }
  }

  &_prev {
    &:disabled {
      &.light {
        background: var(--background-main-dark);
        opacity: .7;
      }

      &.night {
        background: var(--background-main-bright);
        opacity: .7;
      }
    }
  }
}
