@import "src/utils/reset";
@import "src/utils/mixin";

.nowPlayingMovie {
  width: 80vw;
  display: flex;
  flex-direction: column;

  &_top {
    margin-left: 20px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.light {
      border-bottom: 1px solid var(--background-main-dark);
    }

    &.night {
      border-bottom: 1px solid var(--background-main-bright);
    }

    &_title {
      @include main_title;

      &.light {
        color: black;
      }

      &.night {
        color: lightgray;
      }
    }
  }
}