@import "src/utils/reset";
@import "src/utils/mixin";

.detailedMovieCardContainer {
  padding-bottom: 50px;
  @include flex_center;
  flex-direction: column;
  gap: 50px;
}

.detailedMovieCard {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
  }

  &_info {
    padding: 100px;
    position: relative;
    display: flex;
    gap: 100px;

    &_image {
      & > img {
        width: 300px;
        border-radius: 20px;
      }
    }

    &_description {
      display: flex;
      flex-direction: column;
      gap: 50px;

      &_title {
        font-size: 40px;
        color: var(--color-text-white);
        font-weight: 700;
        letter-spacing: 1.5px;
      }

      &_group {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_genres {
          display: flex;
          gap: 20px;
        }

        &_overview {
          color: var(--color-text-white);
          font-size: 20px;
          line-height: 150%;
          text-align: justify;

          & > span {
            font-weight: 700;
          }
        }

        &_slogan {
          font-style: italic;
          opacity: .7;
        }


        &_slogan, &_budget, &_release, &_stars, &_duration {
          color: var(--color-text-white);
          font-size: 18px;

          & > span {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.tabs {
  margin-left: 20px;
  display: flex;
  gap: 5px;
  border-bottom: 2px solid #bebebe;

  & > li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid transparent;

    &.active {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-top: 2px solid #bebebe;
      border-left: 2px solid #bebebe;
      border-right: 2px solid #bebebe;
    }
  }

  &_content {
    width: 80vw;
  }
}

