@import "src/utils/reset";

.card {
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 6px 12px -2px rgba(50,50,93,.25), 0 3px 7px -3px rgba(0,0,0,.3);
  cursor: pointer;

  &_image {
    & > img {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  &_info {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_title {
      color: var(--color-text-black);
      font-size: 16px;
      font-weight: 700;
    }

    &_date {
      font-size: 16px;
      color: rgba(0,0,0,.6);
    }
  }
}