@import "src/utils/reset";

.button {
  border-radius: 5px;
  padding: 10px 20px;

  font-size: 16px;
  font-weight: 600;

  &.light {
    background: var(--background-main-dark);
    color: var(--color-text-white);
  }

  &.night {
    background: var(--background-main-bright);
    color: var(--background-main-dark);
  }
}