@import "src/utils/reset";

.button {
  border-radius: 5px;
  padding: 10px;

  font-size: 16px;
  font-weight: 500;

  &.light {
    background: #282c34;
    color: lightgray;
  }

  &.night {
    background: lightgray;
    color: #282c34;
  }
}