@import "src/utils/reset";
@import "src/utils/mixin";

.topRatedMoviePageContainer {
  width: 100%;
  @include flex_center;

  &.light {
    background: var(--background-main-bright);
  }

  &.night {
    background: var(--background-main-dark);
  }
}

.topRatedMoviePage {
  padding: 50px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 50px;

  &_info {
    display: flex;
    gap: 100px;

    &_facts {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &_title {
        margin-bottom: 50px;
        font-style: italic;
        letter-spacing: 1px;
        font-size: 30px;
        font-weight: 700;

        &.light {
          color: var(--color-text-black);
        }

        &.night {
          color: var(--color-text-white);
        }
      }

      & > p {
        @include fact_item;

        &.light {
          background: var(--background-main-dark);
          color: var(--color-text-white);
        }

        &.night {
          background: var(--background-main-bright);
          color: var(--color-text-black);
        }
      }
    }
  }
}